#span-timer-mins,
#span-timer-ticker,
#span-timer-secs {
  font-weight: bold;
  font-size: 4em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#span-pomo-rounds,
#span-sbreak-rounds,
#span-lbreak-rounds {
  font-size: xx-large;
}

.container {
  /* flex-wrap: wrap; */
  /* align-self: flex-start; */
  background-color: aqua;
  border: 1px outset #999;
  display: inline-block;
  padding: 5px;
  /* box-shadow: inset; */
  /* box-shadow: 5px 10px #888888; */
  border-radius: 5px;
  /* background-color: red; */
  box-shadow: 2px 2px 8px #888888;
}

.highlighted-mode {
  background-color: lightblue;
  color: purple;
  border-radius: 5px;
  /* border-color: aqua;
  border-style: inset; */
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

/* .row-with-2-cols {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 2px 0;
} */

.full-button {
  width: 100%;
  padding: 3px;
  margin-top: 5px;
}

.half-button {
  /* width: 98%; */
  width: 49%;
  padding: 3px;
  /* font-size: 20px; */
  /* display: flex; */
  /* flex:1; */
  /* margin-bottom: 3px; */

  /* border-radius: 10px; */
}

.flex-row {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  margin: 12px 0 3px 0;
}

#button-skip-round {
  margin: 0 0 3px 0;
}

#progress-timer {
  width: 80%;
  height: 10px;
}

#container-notif-warning {
  /* display: flex; */
  position: absolute;
  top: 10px;
  left: 10px;
  /* top: 10px;
  left: 50%; */
  align-items: center;
  /* align-content: center; */
  /* justify-content: space-between; */
  background-color: rgb(231, 101, 101);
  color: rgb(209, 241, 209);
  border-radius: 5px;
  /* vertical-align: middle; */
  box-shadow: 2px 2px 8px #888888;
  padding: 5px 10px;
}

#container-settings-message {
  margin: 10px -5px 0 -5px;
}

#table-settings-message {
  padding: 0;
  font-size: 12px;
}

.settings-error-message {
  color: lightgreen;
  background-color: rgb(231, 101, 101);
}

.settings-saved-message {
  color: darkblue;
  background-color: lightgreen;
}

body {
  /* padding: 10px; */
  background-color: rgb(9, 196, 196);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

th {
  font-weight: normal;
  /* border: 1px solid black; */
  padding: 2px 5px;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.smaller-text {
  font-size: 12px;
}

.tester {
  background-color: olive;
  color: white;
}

.input-error {
  background-color: rgb(239, 96, 96);
  border-color: red;
}

td {
  text-align: center;
  /* border: 1px solid black; */
}

table {
  width: 100%;
  /* border: 1px solid black; */
}

h2 {
  background-color: lightblue;
  margin: 0 0 10px 0;
  padding: 5px;
  border-radius: 5px;
  color: darkblue;
  text-align: center;
}

h6 {
  margin: 0;
  font-weight: normal;
  color: darkgray;
}

input,
select,
button,
#img-ring-alarm,
#img-ring-tick {
  cursor: pointer;
}

* {
  /* text-align: center; */
  /* align-items: center;
  align-content: center; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
